sudo: false
language: python
addons:
  apt:
    sources:
    - sourceline: 'ppa:duggan/bats'
    packages:
    - bats
    - bc
python:
  - 3.6
script:
  - pytest
  - |
    for system_test in ./tests/system/*.sh; do
      bats "$system_test"
    done
